page-profile {

	.pleaseFit {
		padding: 0;
		margin: 0;
		width: 300px;
	}

	.available {
		background: color($colors, 'blueG');
		border-color: #666;
	}

	.col{
		border:  #666;
	}

	.avatar{
		border-radius: 100%;
	}

	.buttons button{
		width: 210px;
		height: 70px;
	}

	.buttons ion-icon{
		font-size: 60px;
	}

}
